body{
	background-color: #141218;
	font-family: 'Roboto', sans-serif;
}
.container{
	max-width: 1140px;
	margin: auto;
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 60px;
}
.menu-list{
	margin-right: auto;
}
.logo{
	margin-right: 68px;
}
.menu-link{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	text-decoration: none;
	margin-right: 24px;
}
.menu-link:last-child{
	margin-right: 0;
}
.social-link{
	margin-left: 20px;
}